body {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;
}

label {
	font-weight: normal;
}

.form-control-bordless {
    border: none;
    box-shadow: none;
    background: none;
    height: auto;
    padding-top: 5px;
    margin-top: -5px;
}

.item-done {
    color: grey;
    text-decoration: line-through;
}